[class*="bd-settings"] [class*="card"],
[class*="bd-settings"] [class*="switchItem"],
[class*="bd-notices"] {
  background: var(--card-shading) !important;
}

[class*="bd-button"],
[class*="bd-addon-card"] [class*="bd-controls"] button {
  color: var(--normal-text) !important;
  border-color: var(--main-color) !important;
}

